---
import Navbar from "../layouts/navbar.astro";
import Footer from "../layouts/footer.astro";
import BlogRoll from "../layouts/blog-roll.astro";
import ProjectStyle from "../layouts/project-style.astro";
import { Icon } from "astro-icon";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/global.css" />
		<title>The Barbell Coder</title>
	</head>
	<body class="flex flex-col min-h-screen text-gray-dark">
	  <Navbar />
	  <div class="w-full bg-gray-light px-2 sm:px-4">
	    <div class="mt-24 container mx-auto grid grid-cols-2 gap-24">
				<div class="col-span-2 text-left text-5xl font-[700]">Exploring computer science through tiny projects</div>
				<div class="col-span-2 flex mb-16">
	        <img class="h-40 rounded-2xl inline-block" src="/assets/profile.jpeg" alt="Profie Picture" />
	        <div class="text-left max-w-prose pl-8">
	          <div class="font-black text-xl inline">Hi! 👋 My name is Avinash, and welcome to The Barbell Coder.</div>
	          <div class="font-serif text-xl inline"> A platform where I geek out on software engineering concepts, algorithms, AI, and all the math in between!</div>
	        	<div class="flex space-x-3 space-y-1 items-center pt-2">
	          	<a href="https://github.com/TheBarbellCoder" target="_blank"><Icon name=bi:github class="w-6" /></a>
	          	<a href="https://medium.com/@thebarbellcoder" target="_blank"><Icon name=bi:medium class="w-6" /></a>
	          	<a href="https://www.linkedin.com/in/avinashcr/" target="_blank"><Icon name=bi:linkedin class="w-6" /></a>
	        	</div>
	        </div>
	      </div>
	    </div>
	  	<div class="container mx-auto my-10 px-2 sm:px-4">
	    	<div class="text-2xl font-medium tracking-wider font-mono">Projects</div> 
	    	<hr style="color: #d0d2d1;">
	  	</div>
	  	<div class="container mx-auto justify-center md:justify-start my-10 px-2 sm:px-4 flex">
	  		<ProjectStyle />
	  	</div>
	  </div>
	  <div class="container mx-auto my-10 px-2 sm:px-4">
	    <div class="text-2xl font-medium tracking-wider font-mono">Blogs</div> 
	    <hr style="color: #edefee;">
		</div>
	  <BlogRoll />
	  <Footer />
	</body>
</html>
