---
---
<nav class="fixed w-full bg-gray-light">
    <div class= "container mx-auto flex items-center h-12 box-border">
        <ul>
            <li>
                <a href="#"><img class="self-start object-contain h-7 md:h-8" src="/assets/tbc-logo.png"></img></a>
            </li>
        </ul>
    </div>
</nav>
