---
import { Icon } from "astro-icon";
import {Picture} from "@astrojs/image/components";
---

<div class="container max-w-prose md:max-w-md flex flex-col items-center bg-gray-light text-[#374e52] p-8 border-t-2 border-[#8bc7d2]">
  <div class="text-3xl font-black">Unittest</div>
  <div class="text-xl pt-4 text-center"> A Minimal Unit Testing Framework for C++ </div>
  <ul class="list-none flex text-sm font-mono font-bold space-x-4 pb-7 pt-4 text-[#374e52] underline decoration-[#8bc7d2] decoration-2 underline-offset-4">
    <li class="">C++</li>
    <li class="">CMake</li>
  </ul>
  <a href="https://github.com/TheBarbellCoder/unittest" target="_blank">
    <div class="flex justify-around py-2 border hover:border-2 hover:font-bold border-[#374e52] rounded-3xl box-border"> 
      <div class="px-2 text-xl"> View project </div>
      <Icon name=bi:github class="w-8 pr-2" />
    </div>
  </a>
</div>
