---
import { Icon } from "astro-icon";
---

<div class="w-[400px] h-[225px] flex flex-col justify-between items-center bg-[#374e52] text-[#8bc7d2] p-8 rounded-2xl">
  <div class="text-5xl font-black">Unittest</div>
  <div class="font-serif font-bold text-xl text-center"> A Minimal Unit Testing Framework for C++ </div>
  <a href="https://github.com/TheBarbellCoder/unittest" target="_blank">
    <div class="flex justify-around py-2 border hover:border-2 hover:font-bold border-[#8bc7d2] rounded-3xl"> 
      <div class="px-2 text-xl"> View project </div>
      <Icon name=bi:github class="w-8 pr-2" />
    </div>
  </a>
</div>
